.about img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.about .box{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding:2rem;
    box-shadow: var(--box-shadow);
}

.about .box h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.about .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.6rem;
}


.about .box li{
    list-style-position: inside;
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.6rem;
}
  

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.reviews .box-container .box{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.reviews .box-container .box .stars{
    margin-bottom: 1.5rem;
}

.reviews .box-container .box .stars i{
    color: var(--main-color);
    font-size: 1.8rem;
}

.reviews .box-container .box  .title{
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    text-align: right;
}

.reviews .box-container .box p{
    text-align: left;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem;
    line-height: 1.8;
}

.reviews .box-container .box .user{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center;
}

.reviews .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .box-container .box .user h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.reviews .box-container .box .user span{
    color: var(--light-color);
    font-size: 1.6rem;
}
